*,
::before,
::after{
    box-sizing: border-box;
} /*altera a forma como a largura e altura dos elementos é calculada
fazem com que os valores de altura e largura, vinculem os valores das
propriedades padding e border*/

/***************************************************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Hero
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/***************************************************************/

/***************************************************************/
/* 0. Variáveis
/***************************************************************/

:root {
    --ff-primary: "Cairo", sans-serif;

    --clr-background: #FFFFFF;
    --clr-black: #090E01;
    --clr-dark-blue: #13293D;
    --clr-blue: #006496;
    --clr-medium-blue: #247BA0;
    --clr-light-blue: #1B98E0;

    --spacing: 0.25rem;
    --transition: all 0.2s linear;
    --dark-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/***************************************************************/
/* 1. Estilos Gerais
/***************************************************************/

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-background);

}

a{
    text-decoration: none;
}

/***************************************************************/
/* 2. Navbar
/***************************************************************/

.navbar {
    position: fixed;
    background: var(--clr-background);
    width: 100%;
    padding: 1.6rem;
    box-shadow: var(--dark-shadow);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header__toggle {
    background: transparent;
    border: transparent;
    font-size: 3.2rem;
    color: var(--clr-blue);
    cursor: pointer;
    transition: var(--transition);
}

.navbar-header__toggle:hover {
    transform: scale(1.2);
}

.navbar-list {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.navbar-list--show-links {
    height: 25rem;
}

.navbar-list__link {
    display: block;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 1.6rem;
    text-transform: capitalize;
    color: var(--clr-black);
    transition: var(--transition);
}

.navbar-list__link:hover{
    background: var(--clr-light-blue);
    padding-left: 3.6rem;
}

.navbar-icons {
    display: none;
}

@media screen and (min-width: 992px) {
    .navbar-header__toggle {
        display: none;
    }

    .navbar-list {
        height: auto;
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 1.6rem;
    }

    .navbar-list__link:hover{
        background: none;
        padding-left: 1.6rem;
        color: var(--clr-light-blue);
    }

    .navbar-icons {
        display: flex;
    }

    .navbar-icons__icon {
        margin-right: 1.6rem;
        color: var(--clr-black);
        font-size: 1.8rem;
        font-weight: 900;
        transition: var(--transition);
    }

    .navbar-icons__icon:hover {
        color: var(--clr-light-blue);
    }

}

/***************************************************************/
/* 3. Hero
/***************************************************************/



/***************************************************************/
/* 4. Sobre Nós
/***************************************************************/

/***************************************************************/
/* 5. Diferenciais
/***************************************************************/

/***************************************************************/
/* 6. Pacotes
/***************************************************************/

/***************************************************************/
/* 7. Newsletter
/***************************************************************/

/***************************************************************/
/* 8. Galeria
/***************************************************************/

/***************************************************************/
/* 9. Footer
/***************************************************************/

/***************************************************************/
/* 10. Modal
/***************************************************************/